<div class="login-box">
  <h2>Login</h2>
  <form (submit)="onSubmit()" target="_blank">
    <div class="user-box">
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required (input)="onInputChange()" class="form-control">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="email" id="email" [(ngModel)]="email" name="email" required (input)="onInputChange()" class="form-control">
      <label>Correo</label>
    </div>
    <a href="#" [class.disabled]="!isFormValid" (click)="onEnviarClick($event)">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
